.imageCheckboxGroup {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  
  .imageCheckboxLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 112px;
    height: 96px;
    /* width: 32px;
    height: 64px; */
    border-radius: 12px;
    border: 1px solid #DADDE1;
  }
  .imageCheckboxLabel:hover{
    border: 1px solid #E44848;
  }
  
  .imageCheckbox {
    width: 112px;
    height: 96px;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    fill:#101828;
  }
  
  .imageCheckbox.selected {
    border-color: #E44848; /* Цвет рамки для выбранной картинки */
  }
    
  .error {
    color: red;
    margin-top: 10px;
  }
  