.imageCheckboxGroup {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.imageCheckboxLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 112px;
  height: 96px;
  border-radius: 12px;
  border: 1px solid #dadde1;
}
.imageCheckboxLabel:hover {
  border-color: #e44848;
}

.imageCheckbox {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: 2px solid transparent;
  /* transition: border-color 0.3s ease; */
  fill: #101828;
}

.imageCheckboxLabel.selected {
  border-color: #e44848; /* Цвет рамки для выбранной картинки */
}

.error {
  color: red;
  margin-top: 10px;
}
.submitButton {
  width: 166px;
  height: 56px;
  color: #FFFFFF;
  border: none;
  border-radius: 200px;
}
.labelLocation{
  color: #6C717B;
  font-size: 16px;
  font-weight: 400;
}
.inputFieldLocation{
  width: 360px;
  height: 56px;
  background-color:#F7F7F7;
  border: none;
  border-radius: 12px;
}