.title {
	margin-top: 100px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #101828;
}

.title:after {
  content: "";
  width: 527px;
  display: block;
  height: 1px;
  background-color: #dadde1;
  margin-top: 24px;
  margin-bottom: 24px;
}

.detailsWrap {
 display: flex;
 flex-direction: column;
 row-gap: 16px;
}

.details {
  width: 527px;
	height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.text, .value{
	font-size: 16px;
	font-weight: 500;
  line-height: 1.5;
  color: #101828;
}
