.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 96px;
    margin-bottom: 16px;
  }
  
  .comment {
    font-weight: 400;
    /* color: var(--text); */
  }
  
  .stars {
    display: flex;
    width: 96px;
    height: 16px;
    gap: 4px;
  }
  
  .star {
    width: 16px;
    height: 16px;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    /* background-color: var(--badges); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    /* color: var(--button); */
  }
  
  .user {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }