.container {
  padding: 48px 64px 80px 64px;
  width: 1440px;
}
.titlePage {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.tabs {
  display: flex;
  flex-direction: row;
  gap: 24px;
  position: relative;
  padding-bottom: 24px;
}
.tabs::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 1312px;
  height: 1px;
  /* border-radius: 2px; */
  background-color: #dadde1;
}
h3 {
  font-size: 20px;
  font-weight: 60px;
  line-height: 1.2;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 85px;
  height: 5px;
  /* border-radius: 2px; */
  background-color: #e44848;
  z-index: 777;
}
.containerDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding-top: 44px;
}
.details{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.activeStar {
  color: #FFC531; 
  margin-right: 4px;
}
