.container {
  background-color: #f2f4f7;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 724px;
  align-items: center;
}
.logo {
  padding: 28px 0 28px 64px;
  color: #101828;
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}
