:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #101828;
  }

a {
  font-weight: 500;
  color: #101828;
  text-decoration: inherit;
}
a:hover {
  color: #D84343;
}

h1 {
 
}
ul{
  list-style: none;
}
button {
  border-radius: 200px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #E44848;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #D84343;
}

