:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #101828;
}

a {
  font-weight: 500;
  color: #101828;
  text-decoration: inherit;
}
a:hover {
  color: #d84343;
}

h1 {
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border-radius: 200px;
  width: 166px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  background-color: #e44848;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  border-color: #d84343;
}
