.camperList{
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap:32px;
margin-top: 0;
margin-bottom: 40px;
}
.camperItem{
    width:888px;
    padding: 24px;
    border: 1px solid #DADDE1;
    border-radius: 20px;
    display: flex;
    gap:24px;
}
.loadMoreBtn{
    width: 145px;
    height: 56px;
    border: 1px solid #DADDE1;
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #101828;
}